*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
   
html, body 
{
    min-height: 100vh;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #0d0f14;
}

/* NAVBAR */
.navbar
{
    width: 100%;
    height: 80px;
    background-color: #161923;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1
{
    color: #f3f3f4;
    letter-spacing: 2px;
}

/* MAIN */
.main
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INPUT */
.main .input
{
    margin-top: 1%;
    width: 20%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.main .input p
{
    color: #f3f3f4;
    letter-spacing: 2px;
    text-align: center;
}

.main .input input
{
    width: 50%;
    background-color: #12161d;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #12161d;
    transition: border-color 0.2s ease-in-out;
    color: #f3f3f4;
}

.main .input input:focus
{
    outline: none;
    border-color: #f40552;
}

.main .input button
{
    width: 20%;
    padding: 10px;
    border: none;
    background-color: #161923;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
    color: #fafafa;
    letter-spacing: 1px;
}

.main .input button:hover
{
    cursor: pointer;
    background-color: #f40552;
}

/* DATABOX */
.main .data
{
    width: 70%;
    height: 800px;
    background-color: #11131a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color:#f3f3f4;
    padding: 1%;
}

.main .data .top
{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161923;
    padding: 1%;
}

.main .data .top img
{
    width: 50%;
}

.main .data .top h1
{
    letter-spacing: 3px;
    font-size: 28px;
}

.main .data .bottom
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    padding: 5%;
}

.main .data .bottom .smallBoxes
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main .data .bottom .smallBoxes .smallBox
{
    width: 48%;
    height: 250px;
    background-color: #161923;
    border-radius: 10px;
    padding: 2%;
}

.main .data .bottom .smallBoxes .smallBox h1
{
    letter-spacing: 3px;
    margin-bottom: 1%;
    font-size: 24px;
    border-bottom: 1px solid #f40552;
    padding-bottom: 1%;
}

.main .data .bottom .smallBoxes .smallBox a
{
    text-decoration: none;
    color: #f40552;
}

.main .data .bottom .smallBoxes .smallBox p
{
    font-size: 20px;
}

.main .data .bottom .smallBoxes .smallBox .owner
{
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main .data .bottom .smallBoxes .smallBox .owner img
{
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
}

.main .data .bottom .smallBoxes .smallBox .owner .ownerText
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
}

.main .data .bottom .bigBox
{
    width: 98%;
    height: 220px;
    background-color: #161923;
    overflow: auto;
    padding: 2%;
    border-radius: 10px;
}

.main .data .bottom .bigBox h1
{
    letter-spacing: 3px;
    font-size: 24px;
}

.main .data .bottom .bigBox .subHeaders
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f40552;
    margin-top: 1%;
    padding-bottom: 1%;
}

.main .data .bottom .bigBox .subHeaders h1
{
    letter-spacing: 2px;
    font-size: 18px;
    border: none;
    width: 100%;
}

.main .data .bottom .bigBox .bigBoxList
{
    width: 100%;
    height: auto;
    list-style: none;
}

.main .data .bottom .bigBox .bigBoxListItem
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #141720;
    padding: 1%;
    margin-top: 1%;
    border-radius: 5px;
}

.main .data .bottom .bigBox .bigBoxListItem a
{
    text-decoration: none;
    color: #f40552;
}

.main .data .bottom .bigBox .bigBoxListItem .player
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main .data .bottom .bigBox .bigBoxListItem .discord
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main .data .bottom .bigBox .bigBoxListItem .discord img
{
    width: 10%;
    border-radius: 50%;
    margin-right: 2%;
    object-fit: cover;
}

.main .data .bottom .bigBox .bigBoxListItem .discord .right
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main .data .bottom .bigBox .bigBoxListItem .steam
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main .data .bottom .bigBox .bigBoxListItem .steam img
{
    width: 10%;
    border-radius: 50%;
    margin-right: 2%;
}

.main .data .bottom .bigBox .bigBoxListItem .steam .right
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#footer
{
    padding-top: 3%;
    width: 100%;
    text-align: center;
    color: #7d7f88;
    font-size: 18px;
    letter-spacing: 1px;
}

#footer a
{
    text-decoration: none;
    color: #fafafa;
}